/vendor
/node_modules
.env
.env.backup
.DS_Store
Thumbs.db
/storage/*.key
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/public/storage
public/hot
public/storage
public/build
public/phpinfo.php
.idea
.vscode
*.log
*.sqlite
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.phpunit.cache
/.php-version
/.vscode
/.github
