openapi: 3.0.3
info:
  title: Posto de Enfermagem API
  description: API Whitelabel multi-tenant para registro seguro de dados de saúde
  version: 1.0.0
servers:
  - url: https://api.postodeenfermagem.com.br/api/v1
    description: Servidor de Produção
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    TenantHeader:
      type: apiKey
      in: header
      name: X-Tenant-ID
      description: ID do Tenant (Obrigatório para quase todas as rotas)
  schemas:
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          example: "Ocorreu um erro na solicitação."
        errors:
          type: object
          description: "Detalhes dos erros de validação, se houver"
          additionalProperties:
            type: array
            items:
              type: string
security:
  - BearerAuth: []
  - TenantHeader: []
paths:
  /health:
    get:
      summary: Health Check da API
      security: []
      responses:
        '200':
          description: API operacional
  /auth/login:
    post:
      summary: Autenticação de Usuário
      security:
        - TenantHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Sucesso (Retorna Token JWT)
  /auth/register:
    post:
      summary: Registro de Usuário
      security:
        - TenantHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
                password_confirmation:
                  type: string
                user_type:
                  type: string
                  enum: [professional, admin]
      responses:
        '201':
          description: Usuário criado
  /auth/mfa/setup:
    post:
      summary: Configuração de MFA (TOTP)
      responses:
        '200':
          description: Retorna secret e QR code
  /auth/mfa/verify:
    post:
      summary: Verificação de MFA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                totp_code:
                  type: string
      responses:
        '200':
          description: Token final emitido
  /auth/logout:
    post:
      summary: Deslogar usuário
      responses:
        '200':
          description: Logout efetuado
  /patients:
    get:
      summary: Listar Pacientes
      responses:
        '200':
          description: Lista de pacientes
    post:
      summary: Criar Paciente
      responses:
        '201':
          description: Paciente criado
  /patients/{patient}/encounters:
    get:
      summary: Listar Atendimentos do Paciente
      parameters:
        - in: path
          name: patient
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de atendimentos
    post:
      summary: Criar Atendimento
      parameters:
        - in: path
          name: patient
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '201':
          description: Atendimento criado
  /patients/{patient}/encounters/{encounter}/observations:
    get:
      summary: Listar Observações (Sinais Vitais e Evolução)
      parameters:
        - in: path
          name: patient
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: encounter
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de observações
    post:
      summary: Registrar Observação (Sinais Vitais / Evolução)
      parameters:
        - in: path
          name: patient
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: encounter
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '201':
          description: Observação criada
