openapi: 3.0.3
info:
  title: Posto de Enfermagem API
  description: API Whitelabel multi-tenant para registro seguro de dados de saúde
  version: 1.0.0
servers:
  - url: https://api.postodeenfermagem.com.br/api/v1
    description: Servidor de Produção
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    TenantHeader:
      type: apiKey
      in: header
      name: X-Tenant-ID
      description: ID do Tenant (Obrigatório para quase todas as rotas)
  schemas:
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          example: "Ocorreu um erro na solicitação."
        errors:
          type: object
          description: "Detalhes dos erros de validação, se houver"
          additionalProperties:
            type: array
            items:
              type: string
    PublicOffering:
      type: object
      description: Ponto de atendimento ofertando um procedimento específico (dados mínimos, sem vazar dados do profissional)
      properties:
        id:
          type: string
          format: uuid
        offering_id:
          type: string
          format: uuid
        service_point_id:
          type: string
          format: uuid
        name:
          type: string
          example: "Ponto de Atendimento Centro - Paulista"
        quality_score:
          type: number
          format: float
          nullable: true
          example: 4.80
        cep:
          type: string
          example: "01310-100"
        coverage_km:
          type: number
          format: float
          example: 15.00
        procedure_slug:
          type: string
          example: "curativo-simples"
        procedure_title:
          type: string
          nullable: true
          example: "Curativo Simples com Técnica Asséptica"
        latitude:
          type: number
          format: float
          nullable: true
          example: -23.561684
        longitude:
          type: number
          format: float
          nullable: true
          example: -46.655981
    ServiceRequest:
      type: object
      description: Pedido de serviço
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        client_user_id:
          type: string
          format: uuid
        offering_id:
          type: string
          format: uuid
          nullable: true
        service_point_id:
          type: string
          format: uuid
          nullable: true
        procedure_id:
          type: string
          format: uuid
        procedure:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            title:
              type: string
            slug:
              type: string
        service_point:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            cep:
              type: string
        cep_servico:
          type: string
          example: "01310-100"
        latitude:
          type: number
          format: float
          nullable: true
        longitude:
          type: number
          format: float
          nullable: true
        slot_date:
          type: string
          format: date
          example: "2026-10-01"
        slot_window:
          type: string
          enum: [manha, tarde, noite]
          example: "manha"
        status:
          type: string
          enum: [requested, accepted, done, cancelled]
          example: "requested"
        notes_cliente:
          type: string
          nullable: true
          example: "Campainha não funciona, chamar no portão."
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CreateServiceRequestInput:
      type: object
      required:
        - procedure_slug
        - cep_servico
        - slot_date
        - slot_window
      properties:
        procedure_slug:
          type: string
          example: "curativo-simples"
        cep_servico:
          type: string
          example: "01310-100"
        slot_date:
          type: string
          format: date
          example: "2026-10-01"
        slot_window:
          type: string
          enum: [manha, tarde, noite]
          example: "manha"
        offering_id:
          type: string
          format: uuid
          nullable: true
        service_point_id:
          type: string
          format: uuid
          nullable: true
        notes_cliente:
          type: string
          nullable: true
          example: "Campainha não funciona, chamar no portão."
        latitude:
          type: number
          format: float
          nullable: true
        longitude:
          type: number
          format: float
          nullable: true
    UpdateServiceRequestStatusInput:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [accepted, done, cancelled]
          example: "accepted"
    ServiceReview:
      type: object
      description: Avaliação de um pedido de serviço
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        service_request_id:
          type: string
          format: uuid
        client_user_id:
          type: string
          format: uuid
        service_point_id:
          type: string
          format: uuid
          nullable: true
        stars:
          type: integer
          minimum: 1
          maximum: 5
          example: 5
        body:
          type: string
          example: "Atendimento pontual, profissional muito cuidadoso e atencioso."
        anonymous:
          type: boolean
          example: true
        publish_requested:
          type: boolean
          example: false
        published_at:
          type: string
          format: date-time
          nullable: true
        published_by:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PublicServiceReview:
      type: object
      description: Avaliação pública na vitrine (sem dados pessoais sensíveis)
      properties:
        id:
          type: string
          format: uuid
        stars:
          type: integer
          minimum: 1
          maximum: 5
          example: 5
        body:
          type: string
          example: "Atendimento de excelência, recomendo muito."
        anonymous:
          type: boolean
          example: false
        client_name:
          type: string
          nullable: true
          example: "Juliana"
          description: "Primeiro nome do cliente quando não anônimo. Nulo se anônimo."
        published_at:
          type: string
          format: date-time
          nullable: true
        procedure:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            title:
              type: string
            slug:
              type: string
        service_point:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
    CreateServiceReviewInput:
      type: object
      required:
        - stars
        - body
      properties:
        stars:
          type: integer
          minimum: 1
          maximum: 5
          example: 5
        body:
          type: string
          maxLength: 5000
          example: "Profissional pontual e muito cuidadoso."
        anonymous:
          type: boolean
          default: true
          example: true
        publish_requested:
          type: boolean
          default: false
          example: false
    UserIdentity:
      type: object
      description: Identidade de autenticação vinculada ao usuário
      properties:
        id:
          type: string
          format: uuid
        provider:
          type: string
          enum: [local, google, microsoft]
        provider_user_id:
          type: string
        email_at_provider:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
    ProcedureCategory:
      type: string
      description: Categoria editorial do procedimento de enfermagem
      enum:
        - aplicacao_medicamentos
        - curativos_feridas
        - eliminacoes
        - vias_aereas
        - sondas_alimentares
        - outros
    ProcedureStatus:
      type: string
      description: Estado editorial. Apenas "published" aparece nas rotas públicas.
      enum:
        - draft
        - published
        - archived
    Procedure:
      type: object
      description: Procedimento de Enfermagem na visão administrativa (rotas autenticadas)
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
          example: "Sondagem Vesical de Alívio"
        slug:
          type: string
          description: Único por tenant. Gerado a partir do título quando omitido.
          example: "sondagem-vesical-de-alivio"
        category:
          $ref: '#/components/schemas/ProcedureCategory'
        category_label:
          type: string
          example: "Eliminações (Sondas e Enemas)"
        short_description:
          type: string
          nullable: true
          description: Resumo em texto puro, usado nas listagens
        content:
          type: string
          description: Conteúdo rico (HTML sanitizado no servidor ou Markdown)
        featured_image:
          type: string
          nullable: true
        gallery:
          type: array
          items:
            type: string
        order:
          type: integer
          example: 3
        status:
          $ref: '#/components/schemas/ProcedureStatus'
        is_published:
          type: boolean
          description: true quando status = published e published_at já ocorreu
        meta_title:
          type: string
          nullable: true
        meta_description:
          type: string
          nullable: true
        published_at:
          type: string
          format: date-time
          nullable: true
        created_by:
          type: string
          format: uuid
          nullable: true
        updated_by:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          nullable: true
    PublicProcedure:
      type: object
      description: >-
        Procedimento na visão pública. Não expõe status, autoria, tenant_id nem
        datas de manutenção do registro. Nas listagens, "content" e "gallery"
        são omitidos.
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        slug:
          type: string
        category:
          $ref: '#/components/schemas/ProcedureCategory'
        category_label:
          type: string
        short_description:
          type: string
        content:
          type: string
          description: Presente apenas no detalhe, não na listagem
        featured_image:
          type: string
        gallery:
          type: array
          items:
            type: string
        order:
          type: integer
        meta_title:
          type: string
        meta_description:
          type: string
        published_at:
          type: string
          format: date-time
    ProcedureWriteRequest:
      type: object
      required:
        - title
        - category
        - content
      properties:
        title:
          type: string
          maxLength: 255
        slug:
          type: string
          maxLength: 200
          pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$'
          description: Opcional. Gerado a partir do título quando omitido; único por tenant.
        category:
          $ref: '#/components/schemas/ProcedureCategory'
        short_description:
          type: string
          maxLength: 1000
          nullable: true
        content:
          type: string
          maxLength: 200000
        featured_image:
          type: string
          maxLength: 2048
          nullable: true
        gallery:
          type: array
          maxItems: 50
          items:
            type: string
            maxLength: 2048
        order:
          type: integer
          minimum: 0
          maximum: 100000
        status:
          $ref: '#/components/schemas/ProcedureStatus'
        meta_title:
          type: string
          maxLength: 255
          nullable: true
        meta_description:
          type: string
          maxLength: 500
          nullable: true
        published_at:
          type: string
          format: date-time
          nullable: true
    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
        from:
          type: integer
          nullable: true
        last_page:
          type: integer
        per_page:
          type: integer
        to:
          type: integer
          nullable: true
        total:
          type: integer
security:
  - BearerAuth: []
  - TenantHeader: []
paths:
  /health:
    get:
      summary: Health Check da API
      security: []
      responses:
        '200':
          description: API operacional
  /auth/login:
    post:
      summary: Autenticação de Usuário
      description: Permite login por email, CPF (11 dígitos) ou telefone brasileiro. Retorna token com scope profile:read se MFA não estiver ativo, ou exige verificação se MFA estiver habilitado.
      security:
        - TenantHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - password
              properties:
                identifier:
                  type: string
                  description: Email, CPF (11 dígitos com ou sem máscara) ou telefone
                  example: "11987654321"
                email:
                  type: string
                  description: Email (compatibilidade com versões anteriores)
                  example: "usuario@hospital.com.br"
                password:
                  type: string
                  format: password
                  example: "SenhaForte@123"
      responses:
        '200':
          description: Sucesso (Retorna Token e abilities)
        '401':
          description: Credenciais inválidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/register:
    post:
      summary: Registro de Usuário
      description: Registro com nome, email, senha, user_type e campos opcionais de CPF (11 dígitos válidos) e telefone (apenas dígitos BR).
      security:
        - TenantHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
                - password_confirmation
                - user_type
              properties:
                name:
                  type: string
                  example: "Dra. Maria Silva"
                email:
                  type: string
                  format: email
                  example: "maria.silva@hospital.com.br"
                password:
                  type: string
                  format: password
                  example: "SenhaForte@123"
                password_confirmation:
                  type: string
                  format: password
                  example: "SenhaForte@123"
                user_type:
                  type: string
                  enum: [professional, admin]
                  example: "professional"
                cpf:
                  type: string
                  nullable: true
                  description: CPF com 11 dígitos numéricos
                  example: "12345678909"
                phone:
                  type: string
                  nullable: true
                  description: Telefone brasileiro com DDD (apenas 10 ou 11 dígitos)
                  example: "11987654321"
      responses:
        '201':
          description: Usuário criado com sucesso
        '422':
          description: Erro de validação (ex. CPF já em uso ou inválido)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/mfa/setup:
    post:
      summary: Configuração de MFA (TOTP)
      responses:
        '200':
          description: Retorna secret e QR code
  /auth/mfa/verify:
    post:
      summary: Verificação de MFA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                totp_code:
                  type: string
      responses:
        '200':
          description: Token final emitido
  /auth/logout:
    post:
      summary: Deslogar usuário
      responses:
        '200':
          description: Logout efetuado
  /auth/oauth/{provider}/url:
    post:
      summary: Obter URL de autorização OAuth/OIDC
      parameters:
        - in: path
          name: provider
          required: true
          schema:
            type: string
            enum: [google, microsoft]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                intent:
                  type: string
                  enum: [login, link]
                  default: login
                return_to:
                  type: string
      responses:
        '200':
          description: URL gerada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                  state:
                    type: string
        '400':
          $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/schemas/ErrorResponse'
        '403':
          $ref: '#/components/schemas/ErrorResponse'
        '422':
          $ref: '#/components/schemas/ErrorResponse'
  /auth/oauth/{provider}/callback:
    get:
      summary: Callback de retorno do provedor OAuth/OIDC
      parameters:
        - in: path
          name: provider
          required: true
          schema:
            type: string
            enum: [google, microsoft]
        - in: query
          name: state
          required: true
          schema:
            type: string
        - in: query
          name: code
          required: false
          schema:
            type: string
      responses:
        '302':
          description: Redirecionamento para return_to com one_time_code
        '200':
          description: JSON direto em ambiente local
        '400':
          $ref: '#/components/schemas/ErrorResponse'
        '403':
          $ref: '#/components/schemas/ErrorResponse'
        '409':
          $ref: '#/components/schemas/ErrorResponse'
  /auth/oauth/{provider}/exchange:
    post:
      summary: Troca de one_time_code por tokens de sessão
      parameters:
        - in: path
          name: provider
          required: true
          schema:
            type: string
            enum: [google, microsoft]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - one_time_code
              properties:
                one_time_code:
                  type: string
      responses:
        '200':
          description: Sucesso na autenticação/troca de código
        '400':
          $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/schemas/ErrorResponse'
        '403':
          $ref: '#/components/schemas/ErrorResponse'
  /user:
    get:
      summary: Obter dados do usuário autenticado e suas identidades
      responses:
        '200':
          description: Dados do usuário e identidades vinculadas
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  email:
                    type: string
                  user_type:
                    type: string
                  phone:
                    type: string
                    nullable: true
                  cpf:
                    type: string
                    nullable: true
                  mfa_enabled:
                    type: boolean
                  identities:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserIdentity'
        '403':
          description: Acesso não autorizado para o tenant informado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Acesso não autorizado para este tenant."
                  code:
                    type: string
                    example: "tenant_forbidden"
  /auth/profile:
    get:
      summary: Obter dados do perfil do usuário autenticado
      responses:
        '200':
          description: Dados do perfil
    patch:
      summary: Atualizar perfil do usuário (exige step-up MFA)
      description: Atualiza nome, email, password, cpf e telefone. Exige que o MFA esteja ativado e já verificado (token pleno); tokens restritos ou usuários sem MFA recebem 403 mfa_required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                  nullable: true
                cpf:
                  type: string
                  nullable: true
                phone:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Perfil atualizado com sucesso
        '401':
          $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Autenticação de dois fatores obrigatória
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Autenticação de dois fatores obrigatória para alterar dados cadastrais."
                  code:
                    type: string
                    example: "mfa_required"
        '422':
          $ref: '#/components/schemas/ErrorResponse'
  /auth/identities/{id}:
    delete:
      summary: Desvincular identidade do usuário
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Identidade removida com sucesso
        '400':
          $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/schemas/ErrorResponse'
        '409':
          $ref: '#/components/schemas/ErrorResponse'
  /patients:
    get:
      summary: Listar Pacientes
      responses:
        '200':
          description: Lista de pacientes
        '403':
          description: Acesso proibido ou MFA obrigatório
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Autenticação de dois fatores obrigatória para esta operação."
                  code:
                    type: string
                    example: "mfa_required"
    post:
      summary: Criar Paciente
      responses:
        '201':
          description: Paciente criado
        '403':
          description: Acesso proibido ou MFA obrigatório
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Autenticação de dois fatores obrigatória para esta operação."
                  code:
                    type: string
                    example: "mfa_required"
  /patients/{patient}/encounters:
    get:
      summary: Listar Atendimentos do Paciente
      parameters:
        - in: path
          name: patient
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de atendimentos
    post:
      summary: Criar Atendimento
      parameters:
        - in: path
          name: patient
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '201':
          description: Atendimento criado
  /patients/{patient}/encounters/{encounter}/observations:
    get:
      summary: Listar Observações (Sinais Vitais e Evolução)
      parameters:
        - in: path
          name: patient
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: encounter
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de observações
    post:
      summary: Registrar Observação (Sinais Vitais / Evolução)
      parameters:
        - in: path
          name: patient
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: encounter
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '201':
          description: Observação criada

  # ==========================================
  # PROCEDIMENTOS DE ENFERMAGEM — ÁREA AUTENTICADA
  # Leitura: qualquer usuário autenticado do tenant.
  # Escrita: admins (ability tenant:admin + ProcedurePolicy).
  # ==========================================
  /procedures:
    get:
      tags: [Procedimentos]
      summary: Listar Procedimentos de Enfermagem
      description: >-
        Lista os procedimentos do tenant identificado pelo header X-Tenant-ID,
        em qualquer status. Ordenados por "order" e depois por título.
      parameters:
        - in: query
          name: category
          schema:
            $ref: '#/components/schemas/ProcedureCategory'
        - in: query
          name: status
          schema:
            $ref: '#/components/schemas/ProcedureStatus'
        - in: query
          name: search
          description: Busca em título, resumo e slug
          schema:
            type: string
            maxLength: 255
        - in: query
          name: per_page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 15
        - in: query
          name: with_trashed
          description: Inclui removidos (soft delete). Ignorado para não administradores.
          schema:
            type: boolean
      responses:
        '200':
          description: Lista paginada de procedimentos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Procedure'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          description: Não autenticado
        '422':
          description: Filtro inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags: [Procedimentos]
      summary: Criar Procedimento (Admin)
      description: Exige ability `tenant:admin` e papel de administrador do tenant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcedureWriteRequest'
      responses:
        '201':
          description: Procedimento criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Procedure'
        '403':
          description: Usuário sem papel de administrador
        '422':
          description: Erro de validação (inclui slug duplicado no tenant)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /procedures/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags: [Procedimentos]
      summary: Detalhar Procedimento
      description: Acessível a qualquer usuário autenticado do tenant. Gera registro de auditoria "accessed".
      responses:
        '200':
          description: Procedimento
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Procedure'
        '404':
          description: Não encontrado no tenant atual
    put:
      tags: [Procedimentos]
      summary: Atualizar Procedimento (Admin)
      description: >-
        Atualização parcial ou total. O slug não é recalculado quando apenas o
        título muda — é uma URL pública e só é alterado se enviado explicitamente.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcedureWriteRequest'
      responses:
        '200':
          description: Procedimento atualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Procedure'
        '403':
          description: Usuário sem papel de administrador
        '404':
          description: Não encontrado no tenant atual
        '422':
          description: Erro de validação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags: [Procedimentos]
      summary: Atualizar Procedimento parcialmente (Admin)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcedureWriteRequest'
      responses:
        '200':
          description: Procedimento atualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Procedure'
        '403':
          description: Usuário sem papel de administrador
        '404':
          description: Não encontrado no tenant atual
    delete:
      tags: [Procedimentos]
      summary: Remover Procedimento (Admin, soft delete)
      description: Marca deleted_at. O registro deixa de aparecer nas listagens, mas permanece no banco e pode ser restaurado.
      responses:
        '200':
          description: Procedimento removido
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Procedimento removido com sucesso."
        '403':
          description: Usuário sem papel de administrador
        '404':
          description: Não encontrado no tenant atual
  /procedures/{id}/publish:
    post:
      tags: [Procedimentos]
      summary: Publicar Procedimento (Admin)
      description: Define status = published e carimba published_at quando ainda não houver data.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Procedimento publicado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Procedure'
        '403':
          description: Usuário sem papel de administrador
        '404':
          description: Não encontrado no tenant atual
  /procedures/{id}/unpublish:
    post:
      tags: [Procedimentos]
      summary: Despublicar Procedimento (Admin)
      description: Volta o procedimento para draft e limpa published_at, retirando-o da vitrine pública.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Procedimento despublicado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Procedure'
        '403':
          description: Usuário sem papel de administrador
        '404':
          description: Não encontrado no tenant atual
  /procedures/{id}/restore:
    post:
      tags: [Procedimentos]
      summary: Restaurar Procedimento removido (Admin)
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Procedimento restaurado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Procedure'
        '403':
          description: Usuário sem papel de administrador
        '404':
          description: Não encontrado no tenant atual

  # ==========================================
  # PROCEDIMENTOS DE ENFERMAGEM — VITRINE PÚBLICA
  # Sem autenticação, mas o header X-Tenant-ID continua obrigatório:
  # é ele que mantém o isolamento multi-tenant ativo.
  # ==========================================
  /public/procedures:
    get:
      tags: [Procedimentos Públicos]
      summary: Listar Procedimentos publicados
      description: >-
        Retorna apenas procedimentos com status "published" e published_at já
        ocorrido, do tenant informado no header X-Tenant-ID. O corpo do
        conteúdo (content/gallery) é omitido nesta listagem.
      security:
        - TenantHeader: []
      parameters:
        - in: query
          name: category
          schema:
            $ref: '#/components/schemas/ProcedureCategory'
        - in: query
          name: search
          schema:
            type: string
            maxLength: 255
        - in: query
          name: per_page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 15
      responses:
        '200':
          description: Lista paginada de procedimentos publicados
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicProcedure'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          description: Header X-Tenant-ID ausente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Tenant não encontrado, inativo ou suspenso
  /public/procedures/categories:
    get:
      tags: [Procedimentos Públicos]
      summary: Listar categorias com contagem de publicados
      description: Usado para montar o menu da vitrine. Sempre devolve as seis categorias, com total zero quando não houver publicados.
      security:
        - TenantHeader: []
      responses:
        '200':
          description: Categorias disponíveis
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        value:
                          $ref: '#/components/schemas/ProcedureCategory'
                        label:
                          type: string
                          example: "Curativos e Tratamento de Feridas"
                        total:
                          type: integer
                          example: 3
        '400':
          description: Header X-Tenant-ID ausente
  /public/procedures/{slug}:
    get:
      tags: [Procedimentos Públicos]
      summary: Detalhar Procedimento publicado pelo slug
      description: Rascunhos, arquivados e agendados para o futuro retornam 404.
      security:
        - TenantHeader: []
      parameters:
        - in: path
          name: slug
          required: true
          schema:
            type: string
          example: sondagem-vesical-de-alivio
      responses:
        '200':
          description: Procedimento publicado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PublicProcedure'
        '400':
          description: Header X-Tenant-ID ausente
        '404':
          description: Slug inexistente ou procedimento não publicado neste tenant
  /public/offerings/search:
    get:
      tags: [Ofertas e Vitrine]
      summary: Buscar ofertas de procedimentos nos pontos de atendimento do tenant
      description: |
        Resolve pontos ativos do tenant do header que ofertam aquele rótulo.
        Se vier cep, ordene por proximidade quando lat/lng existirem; senão por quality_score desc depois name.
        Não vaza dados confidenciais do profissional (CPF, e-mail, telefone).
      security:
        - TenantHeader: []
      parameters:
        - in: query
          name: procedure_slug
          required: true
          schema:
            type: string
          example: curativo-simples
        - in: query
          name: cep
          required: false
          schema:
            type: string
          example: "01310-100"
        - in: query
          name: latitude
          required: false
          schema:
            type: number
            format: float
          example: -23.561684
        - in: query
          name: longitude
          required: false
          schema:
            type: number
            format: float
          example: -46.655981
      responses:
        '200':
          description: Lista de ofertas encontradas ordenadas
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicOffering'
        '400':
          description: Header X-Tenant-ID ausente
  /public/reviews:
    get:
      tags: [Conteúdo Público]
      summary: Listar avaliações públicas de procedimentos
      description: |
        Retorna avaliações públicas (com published_at preenchido) dos serviços do tenant.
        Permite filtrar pelo procedure_slug.
        Respeita regras de anonimato: se a avaliação for anônima, client_name é retornado como nulo;
        caso contrário, retorna apenas o primeiro nome do cliente.
        Nunca expõe e-mail, CPF, telefone ou outros dados sensíveis.
      security:
        - TenantHeader: []
      parameters:
        - in: query
          name: procedure_slug
          required: false
          schema:
            type: string
          example: curativo-cirurgico
        - in: query
          name: per_page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 15
      responses:
        '200':
          description: Lista de avaliações públicas
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicServiceReview'
        '400':
          description: Header X-Tenant-ID ausente
  /service-requests:
    get:
      tags: [Pedidos de Serviço]
      summary: Listar pedidos de serviço
      description: |
        Exige MFA step-up.
        Cliente: lista apenas os seus próprios pedidos.
        Profissional/Admin do tenant: lista todos os pedidos do tenant.
      security:
        - BearerAuth: []
        - TenantHeader: []
      parameters:
        - in: query
          name: client_user_id
          required: false
          schema:
            type: string
            format: uuid
        - in: query
          name: status
          required: false
          schema:
            type: string
            enum: [requested, accepted, done, cancelled]
      responses:
        '200':
          description: Lista paginada de pedidos de serviço
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServiceRequest'
        '403':
          description: MFA step-up obrigatório ou acesso não autorizado
    post:
      tags: [Pedidos de Serviço]
      summary: Criar um pedido de serviço
      description: |
        Exige MFA step-up (middleware mfa.stepup). Sem MFA retorna 403 mfa_required.
        O usuário autenticado (patient ou professional) é associado como client_user_id. Status inicial requested.
      security:
        - BearerAuth: []
        - TenantHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServiceRequestInput'
      responses:
        '201':
          description: Pedido de serviço criado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ServiceRequest'
        '403':
          description: MFA step-up obrigatório (mfa_required)
        '422':
          description: Dados de entrada inválidos
  /service-requests/{id}:
    get:
      tags: [Pedidos de Serviço]
      summary: Detalhar pedido de serviço
      description: |
        Exige MFA step-up.
        Cliente só visualiza seus próprios pedidos (outros retornam 403).
      security:
        - BearerAuth: []
        - TenantHeader: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Detalhes do pedido de serviço
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ServiceRequest'
        '403':
          description: Acesso proibido a pedidos de outro cliente ou MFA step-up obrigatório
        '404':
          description: Pedido não encontrado
    patch:
      tags: [Pedidos de Serviço]
      summary: Atualizar status do pedido de serviço
      description: |
        Exige MFA step-up.
        Profissional/Admin do tenant pode transicionar para accepted, done ou cancelled.
        Cliente só pode transicionar para cancelled se o status ainda for requested.
      security:
        - BearerAuth: []
        - TenantHeader: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateServiceRequestStatusInput'
      responses:
        '200':
          description: Status atualizado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ServiceRequest'
        '403':
          description: Transição não autorizada ou MFA step-up obrigatório
        '404':
          description: Pedido não encontrado
  /service-requests/{id}/review:
    get:
      tags: [Avaliações de Serviço]
      summary: Visualizar avaliação do pedido de serviço
      description: |
        Exige MFA step-up.
        Permitido para o cliente dono do pedido ou professional/admin do tenant.
      security:
        - BearerAuth: []
        - TenantHeader: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Avaliação do pedido de serviço
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ServiceReview'
        '403':
          description: Acesso não autorizado (outro cliente) ou MFA step-up ausente
        '404':
          description: Pedido ou avaliação não encontrada
    post:
      tags: [Avaliações de Serviço]
      summary: Cadastrar avaliação para o pedido de serviço
      description: |
        Exige MFA step-up.
        Apenas o cliente solicitante (client_user_id) pode avaliar.
        O pedido precisa estar com status "done".
        Prazo máximo: até 14 dias a partir de updated_at do done (ou completed_at).
        Apenas uma avaliação por pedido.
      security:
        - BearerAuth: []
        - TenantHeader: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServiceReviewInput'
      responses:
        '201':
          description: Avaliação cadastrada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ServiceReview'
        '403':
          description: Não autorizado (outro usuário ou MFA step-up ausente)
        '422':
          description: Pedido não está concluído, prazo expirado (> 14 dias), pedido já avaliado ou dados inválidos
  /service-reviews/{id}:
    get:
      tags: [Avaliações de Serviço]
      summary: Detalhar avaliação por ID
      description: |
        Exige MFA step-up.
        Permitido para o cliente dono da avaliação ou professional/admin do tenant.
      security:
        - BearerAuth: []
        - TenantHeader: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Detalhes da avaliação
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ServiceReview'
        '403':
          description: Acesso proibido à avaliação de outro cliente ou MFA step-up ausente
        '404':
          description: Avaliação não encontrada
  /service-reviews/{id}/publish:
    patch:
      tags: [Avaliações de Serviço]
      summary: Publicar avaliação de serviço na vitrine
      description: |
        Exige MFA step-up.
        Apenas usuários do tipo professional ou admin do tenant podem publicar.
        Só é permitido se publish_requested for true.
        Define published_at com a data atual e published_by com o ID do usuário.
      security:
        - BearerAuth: []
        - TenantHeader: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Avaliação publicada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ServiceReview'
        '403':
          description: Permissão negada (apenas profissionais/admins com MFA)
        '422':
          description: Avaliação não autorizada para publicação pelo cliente (publish_requested é false)
        '404':
          description: Avaliação não encontrada
